.logo{
  height: 60px;
  border-radius: 50%;
}
  
  .header{
    /* position: relative; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    grid-area: h;
    background-color: green;
  }

  .headerLogo{
    float: left;
    height: 60px;
   
  }

  .loginBlock {
    padding-right: 60px;
    color: white;
    font-size: 20px;
    padding-left: 30px;
  }

  .loginBlock a {
    color: white;
  }