.logo{
  height: 60px;
  border-radius: 50%;
}
  
  .header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100vw;
    background-color: green;
  }

  .headerLogo{
    float: left;
    height: 60px;
    background-color: #999;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .loginBlock {
    padding-right: 60px;
    color: white;
    font-size: 20px;
    padding-left: 30px;
    right: 50px;
  }

  .loginBlock a {
    color: white;
  }